/*==============================
 GOOGLE FONT
==============================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/*==============================
 RESET
==============================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#ffffff;
    color:#111;
    overflow-x:hidden;
}

/* header */

.header{

    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 60px;
    background:rgba(255,255,255,.15);
    backdrop-filter:blur(15px);
    border-bottom:1px solid rgba(0,0,0,.08);
    z-index:9998;

}

.logo img{

    width:95px;

}

.header-right{

    font-size:14px;
    letter-spacing:3px;
    font-weight:600;
    color:#555;

}

/* menu */

#menu-toggle{

    display:none;

}

.menu-btn{

    width:32px;
    cursor:pointer;
    display:flex;
    flex-direction:column;
    gap:6px;

}

.menu-btn span{

    width:100%;
    height:2px;
    background:#111;
    transition:.4s;

}

#menu-toggle:checked + .menu-btn span:nth-child(1){

    transform:rotate(45deg) translateY(11px);

}

#menu-toggle:checked + .menu-btn span:nth-child(2){

    opacity:0;

}

#menu-toggle:checked + .menu-btn span:nth-child(3){

    transform:rotate(-45deg) translateY(-11px);

}

/* sidebar */

.sidebar{

    position: fixed;
    top: 0;
    left: -320px;
    width: 320px;
    height: 100vh;
    padding: 30px;
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-right:1px solid rgba(255,255,255,.25);
    box-shadow:10px 0 35px rgba(0,0,0,.15);
    transition: .45s ease;
    z-index:9999;

}

#menu-toggle:checked ~ .sidebar{

    left:0;

}

.menu-header{

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.menu-header img{

    width:80px;

}

.close-menu{

    color:#1111;
    cursor:pointer;
    font-size:35px;

}

.sidebar ul{

    margin-top:70px;
    list-style:none;

}

.sidebar ul li{

    margin-bottom:28px;

}

.sidebar ul li a{

    color:#111;
    text-decoration:none;
    font-size:18px;
    transition:.3s;

}

.sidebar ul li a:hover{

    color:#9b4dffff;
    padding-left:10px;

}

.menu-footer{

    position:absolute;
    bottom:40px;
    color:#777;
    letter-spacing:3px;
    font-size:12px;

}

/* hero */

.hero{

    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:140px 70px 60px;
    z-index: 1;

}

.hero-left{

    width:45%;

}

.subtitle{

    color:#a95dff;
    font-size:13px;
    letter-spacing:5px;
    margin-bottom:15px;

}

.hero-left h1{

    font-size:72px;
    line-height:1;
    font-weight:700;

}

.hero-left h1 span{

    color:#4e197e;

}

.hero-left h2{

    font-size:48px;
    margin-top:8px;
    color:#100202;

}

.hero-text{

    margin-top:25px;
    line-height:1.9;
    color:#555;
    font-size:17px;
    max-width:520px;

}

/* buttons */

.hero-buttons{

    display:flex;
    gap:18px;
    margin-top:35px;

}

.btn{

    padding:14px 34px;
    border:2px solid #b46cff;
    border-radius:40px;
    color:#b46cff;
    text-decoration:none;
    transition:.4s;
    font-size:15px;

}

.btn:hover{

    background:#b46cff;
    color:#820cb1;
    box-shadow:0 0 20px rgba(180,108,255,.45);

}

.secondary{

    border-color:#ccc;
    color:#333;

}

.secondary:hover{

    background:#111;
    color:#aeaeae;
    border-color:#111;

}

/* car */

.hero-right{

    width:55%;
    display:flex;
    justify-content:flex-end;
    position:relative;

}

.hero-car{

    width:760px;
    animation:drive 2.2s ease forwards;
    position:relative;
    z-index:2;

}

.purple-light{

    position:absolute;
    width:420px;
    height:420px;
    background:#b46cff;
    border-radius:50%;
    filter:blur(120px);
    opacity:.18;
    right:120px;
    top:120px;

}

@keyframes drive{
    from{

        transform:translateX(250px);
        opacity:0;

    }

    to{

        transform:translateX(0);

        opacity:1;

    }

}

/* about */

.about{

    padding:120px 70px;
    display:flex;
    justify-content:space-between;
    gap:70px;
    background-color: #fdf0f01e;


}

.about-left{

    width:55%;

}

.honda-logo{
    width:300px;
    height: auto;
    margin-bottom:7px;
}


.about-left h2{

    font-size:48px;
    line-height:1.1;
    margin-bottom:25px;

}

.about-left p{

    color:#666;
    line-height:2;
    font-size:16px;

}

.about-right{

    width:45%;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;


}

.spec-card{

    padding:30px;
    border-radius:18px;
    background:#4e4e4e;
    box-shadow:0 10px 30px rgba(147, 146, 146, 0.08);
    transition:.4s;

}

.spec-card:hover{

    transform:translateY(-10px);
    border:1px solid #25044729;

}

.spec-card h3{

    font-size:13px;
    color:#ce0a0a;
    margin-bottom:15px;
    letter-spacing:2px;

}

.spec-card h4{

    color:#000000;
    font-size:22px;

}

/* gallery selection */

.gallery{

    padding:120px 70px;
    background:#f8f8f8;

}

.title{

    text-align:center;
    margin-bottom:60px;

}

.title p{

    color:#b46cff;
    letter-spacing:4px;
    font-size:14px;
    margin-bottom:10px;

}

.title h2{

    font-size:42px;
    font-weight:700;
    color:#111;

}

.gallery-grid{

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:35px;

}

.gallery-card{

    position:relative;
    overflow:hidden;
    border-radius:22px;
    cursor:pointer;
    transition:.5s;
    box-shadow:0 15px 35px rgba(188, 186, 186, 0);

}

.gallery-card img{

    width:100%;
    height:380px;
    object-fit:cover;
    transition:.6s;

}

.gallery-card:hover img{

    transform:scale(1.08);

}

.gallery-card:hover{

    box-shadow:0 20px 45px rgba(166, 105, 232, 0.3);

}

.overlay{

    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    padding:30px;
    background:linear-gradient(to top,
    rgba(195, 193, 193, 0.85),
    transparent);
    color:white;

}

.overlay h3{

    font-size:24px;
    margin-bottom:10px;

}

.overlay p{

    color:#dddddd;
    line-height:1.6;

}

/* transformation */

.transformation{

    padding:140px 70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:40px;
    background:white;

}

.transform-left,
.transform-right{

    width:35%;
    text-align:center;

}

.transform-left img,
.transform-right img{

    width:100%;
    transition:.6s;

}

.transform-center{

    width:30%;
    text-align:center;

}

.transform-center h2{

    font-size:34px;
    margin-bottom:15px;

}

.transform-center span{

    display:block;
    color:#b46cff;
    font-size:50px;
    margin:25px 0;

}

.transform-center p{

    color:#666;
    line-height:1.9;

}

.transform-right img:hover{

    transform:scale(1.06);

}

.transform-left img:hover{

    opacity:.3;

}

/* performance */

.performance{

    padding:120px 70px;
    background:#e2d7e946;

}

.performance .title h2{

    color:rgb(0, 0, 0);

}

.performance-grid{

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;

}

.performance-card{

    background:#eee9f000;
    border-radius:20px;
    padding:45px;
    text-align:center;
    transition:.5s;
    border:1px solid #827979;

}

.performance-card:hover{

    transform:translateY(-12px);
    border-color:#948f99;
    box-shadow:0 0 35px rgba(11, 11, 11, 0.25);

}

.performance-card h3{

    color:#641b91;
    font-size:34px;
    margin-bottom:15px;

}

.performance-card span{

    color:#080000;
    letter-spacing:2px;

}

/* quote */

.quote{

    padding:150px 80px;
    text-align:center;
    background:#fafafa;

}

.quote h2{

    font-size:56px;
    line-height:1.3;
    color:#222;

}

.quote p{

    margin-top:25px;
    font-size:20px;
    color:#777;
    letter-spacing:2px;

}

/* contact */

.contact{

    padding:120px 70px;
    display:flex;
    justify-content:space-between;
    align-items:center;

}

.contact-left h2{

    font-size:48px;
    margin-bottom:20px;

}

.contact-left p{

    color:#666;
    line-height:1.8;

}

.contact-right{

    display:flex;
    flex-direction:column;
    gap:18px;

}

.contact-right a{

    color:#111;
    text-decoration:none;
    font-size:20px;
    transition:.4s;

}

.contact-right a:hover{

    color:#b46cff;
    padding-left:12px;

}

/* footer */

footer{

    background:#111;
    color:white;
    padding:60px;
    text-align:center;

}

.footer-logo img{

    width:90px;
    margin-bottom:25px;

}

footer p{

    font-size:18px;
    margin-bottom:12px;

}

footer span{

    color:#777;
    letter-spacing:2px;
    font-size:13px;

}

/* responsive */

@media(max-width:992px){

.hero{

flex-direction:column;

text-align:center;

}

.hero-left,
.hero-right{

width:100%;

}

.hero-car{

width:100%;

margin-top:50px;

}

.about{

flex-direction:column;

}

.about-left,
.about-right{

width:100%;

}

.gallery-grid{

grid-template-columns:1fr;

}

.transformation{

flex-direction:column;

}

.transform-left,
.transform-center,
.transform-right{

width:100%;

}

.performance-grid{

grid-template-columns:repeat(2,1fr);

}

.contact{

flex-direction:column;

text-align:center;

gap:40px;

}

}

@media(max-width:600px){

.performance-grid{

grid-template-columns:1fr;

}

.hero-left h1{

font-size:48px;

}

.hero-left h2{

font-size:34px;

}

.title h2{

font-size:32px;

}

.quote h2{

font-size:36px;

}

}